.carousel {
    margin: 0 auto;
    width: 500px;
    height: 300px;
    display: flex;
    outline: solid 1px blue;
    overflow: hidden;
    /* zoom: 0.25; */
}
.carousel>img {
    width: 500px;
    height: 300px;
    /* transition: transform ease 0.5s; */
}

* {
    background-color: lightblue;
}